<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li class="items"> <a href="/">Home</a></li>
            <li class="items"><a href="">About us</a></li>
            <li class="items"><a href="/user/blogs"> Add Blogs</a></li>
            <li class="items"><a href="/">Contact us</a></li>
        </ul>
       
        </nav>
</body>
</html>